---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";
import { Formatter } from "@/utils/formatter";

const cookies = Astro.cookies.get("cart")?.value ?? "[]"; // Obtenemos el valor del cookie cart

const { data: products, error } = await actions.loadProductsFromCart({cookies,}); // Llamamos al action loadProductsFromCart con el valor del cookie cart
if (error || !products) {
  return Astro.redirect("/");
}

const total = products.reduce((acc, product) => acc + product.price * product.quantity, 0); // Calculo el total del carrito

---

<MainLayout title="Carrito de compras">
  <h1>Carrito</h1>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- products -->
    <div class="order-2 sm:order-1">
      <h2>Productos</h2>
      <a href="javascript:history.back()" class="hover:underline text-blue-500">
        Regresar
      </a>
      {
        products?.map((product) => (
          <div class="flex gap-5 mt-5" >
            <img
              src={product.image}
              alt={product.title}
              class="w-20 h-20 object-cover rounded-lg"
            />
            <div>
              <a href={`/products/${product.slug}`} class="hover:underline">
                {product.title}
              </a>
              <p>${product.price}</p>
              <p>
                Talla: <span class="font-bold">{product.size}</span>
              </p>
              <p>x {product.quantity}</p>
              <button
                data-id={product.productId}
                data-size={product.size}
                class="btn-delete text-blue-500"
              >
                Remover
              </button>
            </div>
          </div>
        ))
      }
    </div>

    <!-- Totales -->
    <div class="bg-black h-[330px] text-white p-6 rounded-lg shadow-lg order-1">
      <h2 class="text-lg font-semibold mb-4">Resumen de compra</h2>

      <div class="flex justify-between text-gray-400 mb-2">
        <span>Envío</span>
        <span>Gratis</span>
      </div>

      <div class="flex justify-between text-gray-400 mb-4">
        <span>SubTotal </span>
        <span>{Formatter.currency(total)}</span>
      </div>
      <div class="flex justify-between text-gray-400 mb-4">
        <span>Impuesto </span>
        <span>{Formatter.currency(total * 0.15)}</span>
      </div>

      <div class="flex justify-between text-xl font-bold">
        <span>Total</span>
        <span>{Formatter.currency(total * 1.15)}</span>
      </div>

      <button
        class="mt-10 w-full bg-blue-700 text-gray-300 py-3 rounded-lg hover:bg-gray-600 transition-all"
      >
        PAGAR
      </button>
    </div>
  </section></MainLayout>

  <script>
import { CartCookiesClient } from "@/utils";

    const deleteButtons: NodeListOf<HTMLButtonElement> = document.querySelectorAll(".btn-delete"); // Seleccionamos todos los botones con el selector btn-delete
    
    deleteButtons.forEach((button) => {                                       // Para cada botón con el selector btn-delete
      button.addEventListener("click", (event) => {                           // Añadimos un event listener para cuando se haga click en el botón
        const target = event.target as HTMLButtonElement;                     // Obtenemos el elemento en el que se haga click
        const productId = target.dataset.id ?? "";                            // y de ese elemento el id del producto
        const size = target.dataset.size ?? "";                               // y la talla del producto
      
        CartCookiesClient.removeItem(productId, size);                        // Eliminamos el producto de las cookies
      
        window.location.reload()
      });
    });
  </script>
