---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/PokemonCard.astro";
import "../../base.css"
import Title from "@components/shared/Title.astro";

const title = "Pokemon Static | Home";


export const getStaticPaths = (async({paginate}) => {
  
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;
  return paginate(results, {pageSize: 20});

}) satisfies GetStaticPaths;

const { page } = Astro.props

---

<MainLayout title={title}>
  <Title>Listado Paginado</Title>

  <section
    arial-label="Listado de Pokemons"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 xl:grid-cols-5 gap-3 mt-5"
  >
    {page.data.map(({name, url}) => {
      return(
        <PokemonCard  
          name={name}
          url={url}
        />
      )
		})}
  </section>

  <section class="flex mt-10 items-center justify-between">
    <div class="flex flex-row gap-2">
      <a 
        href={page.url.prev} 
        class:list={[
            "btn",
            {disabled: !page.url.prev}
          ]}
      >
        Anteriores
      </a>
      <a 
        href={page.url.next} 
        class:list={[
          "btn",
          {disabled: !page.url.next}
        ]}  
        >
          Siguientes
        </a>
    </div>

    <span class="text-xl font-bold">Página {page.currentPage}</span>
  </section>
</MainLayout>


